body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./images/cloud2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.search{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
}

.search #myInput{
  padding: 10px 15px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 20%;
}

.search #myBtn{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 12px;
  border-radius: 20px;
  border: none;
  background-color: rgb(254, 254, 254);
  cursor: pointer;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 50px;
}

.error-message {
  color: rgb(255, 0, 0);
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.error{
  display: none;
}

.top{
  padding-top: 190px;
  display: flex;
  align-items: center;
  justify-content:center;
}

.top .location{
  font-size: 30px;
  margin-right: 25px;
}

.top .temperature{
  font-size: 38px;
}

.App .bottom{
  width: 80%;
  display: flex;
  justify-content: space-evenly ;
  margin: 1rem auto;
  background-color: rgba(115, 115, 115, 0.3);
  padding: 1rem;
  border-radius: 12px;
}

.feelsLike{
  font-size: 25px;
  margin-right: 30px;
}

.humidity{
  font-size: 25px;
}

.windSpeed{
  font-size: 25px;
  margin-left: 30px;
}

.weather-container{
  display: none;
}

@media (max-width: 875px) {
  body{
    background-image: url(./images/cloud.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
 .search #myInput{
    width: 60%;
}

  .humidity, .windSpeed, .feelsLike{
    font-size: 1.2rem;
  }

  .weather-container .bottom{
    width: 80%; 
  }

  .top .temperature{
    font-size: 25px;
  }

  .top .temperature, .location{
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .error-message{
    color: white;
    background: transparent;
  }
}

@media (max-width: 350px)
{
  .weather-container .bottom{
    width: 100%;
    height: 100%;
  }
}